@{
    ViewBag.Title = "Resumo";
}

@model List<Aula.Models.ItemPedido>
<br />
<br />
<br />
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h3>Resumo do Pedido</h3>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <h4>Nº do pedido: 1234567</h4>
                    </div>
                    <div class="col-md-6">

                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-6">
                        <h4>Seus dados</h4>
                        <div class="row">
                            <div class="col-md-6">João da Silva</div> 
                            <div class="col-md-6 text-right">joao@alura.com.br</div>
                        </div>
                        <div>(11)555-12345</div>
                    </div>
                    <div class="col-md-6">
                        <h4>Endereço de Entrega</h4>
                        Rua Vergueiro, 123 - Vila Mariana - São Paulo - SP
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-6">
                        <h4>Entrega</h4>
                    </div>
                    <div class="col-md-6 text-right">
                        <h4>Quantidade</h4>
                    </div>
                </div>
                @foreach(var item in Model)
                { 
                <div class="row">
                    <div class="col-md-6">
                        @item.Produto.Descricao
                    </div>
                    <div class="col-md-6 text-right">
                        @item.Quantidade
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>
