@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-5 col-md-offset-3">
        <form class="form-horizontal" role="form">
            <fieldset>
                <!-- Form Name -->
                <h3>
                    Endereço de Entrega
                </h3>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="textinput">Endereço</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="textinput">Complemento</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="textinput">Cidade</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="textinput">Estado</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control">
                    </div>
                    <label class="col-sm-3 control-label" for="textinput">CEP</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                </div>
                <!-- Buttons-->
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="pull-right">
                            <button type="submit" class="btn btn-default">Cancelar</button>
                            <button type="submit" class="btn btn-success">Salvar</button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div><!-- /.col-lg-12 -->
</div><!-- /.row -->