@{
    ViewData["Title"] = "Home Page";
}
<h3>Catálogo</h3>
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        @{var produtos = new[] { 1, 2, 3, 4, 5, 6, 7, 8, 9 }; }
        @for (var pagina = 0; pagina < (produtos.Length - 1) / 4; pagina++)
        {
        <div class="item @(pagina == 0 ? "active" : "")">
            <div class="row">
                @for (var i = 0; i < 4; i++)
                {
                    var produtoId = produtos[i + pagina * 4];
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img src="~/images/Produtos/large_@(produtoId).jpg" />
                        </div>
                        <div class="panel-footer">
                            <div>Produto @(produtoId)</div>
                            <div>R$ 59,90</div>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
        }
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
